#Executables
RiSC-16-dbg

# Compiled Object files
*.slo
*.lo
*.o
*.dblite

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#Editors
*.sublime-project
*.sublime-workspace
project.*

# kareem edit files
RiSC.config
RiSC.includes
RiSC.creator
RiSC.creator.user
